name: Despertador ToNOI

on:
  schedule:
    # Ejecutar cada 30 minutos (minuto 0 y minuto 30 de cada hora)
    - cron: '0,30 * * * *'
  workflow_dispatch: # Permite ejecutarlo manualmente si quieres probar

jobs:
  wake_up:
    runs-on: ubuntu-latest
    steps:
      - name: Visitar la Web como un Humano
        run: |
          curl -I -L \
          -H "User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36" \
          https://torneonooficialdeinglaterra.streamlit.app/
